# rust
/target
*.lock

# roms
dmg-frontend/native/roms/*.gb
dmg-frontend/native/roms/*.gbc
dmg-peripheral/camera/rom/*.gb
dmg-boot/roms/*.gb
dmg-boot/roms/*.gbc

# wasm project
dmg-wasm/pkg/
dmg-wasm/www/dist
dmg-wasm/www/node_modules

# vim
*.swp

# rom directory
dmg-lib/roms